<div style="text-align:center">
    <h1>
     <span changeText> Welcome to {{title}}.</span> 
      <span>{{title | uppercase}}</span><br><br>
      <span>{{title | lowercase}}</span>
    </h1>

    <h1>Currency Pipe</h1>
    <b>{{6789.23 | currency:"USD"}}</b>
    <b>{{6789.23 | currency:"USD":true}}</b>

    <h1>Date pipe</h1>
    <b>{{todaydate | date:'d/M/y'}}</b>
    <b>{{todaydate | date:'shortTime'}}</b>

    <div style = "width:40%;float:left;border:solid 1px black;">
        <h1>Json Pipe</h1>
        <b>{{ jsonval | json }}</b>
        <h1>Percent Pipe</h1>
        <b>{{00.54565 | percent}}</b>
        <h1>Slice Pipe</h1>
        <b>{{months | slice:2:6}}</b> 
        // here 2 and 6 refers to the start and the end index
     </div>

</div>
<div> Months :
    <select>
        <option *ngFor="let i of months">{{i}}</option>
    </select>

</div>
<div>
    <span *ngIf = "isavailable; then condition1 else condition2">Condition is valid</span>
    <ng-template #condition1>Condition is valid</ng-template>
    <ng-template #condition2>Condition is invalid</ng-template>
</div>

<h1>Cutom Pipe</h1>
<b>Squrae root of 25 is: {{25 | sqrt}}</b>
<b>Squrae root of 64 is: {{64 | sqrt}}</b>

<button (click)="myClickFunction($event)">
    Click Me
 </button>

<!-- for service -->

{{todaydate}}

<app-footer></app-footer>

<h3>Users Data</h3>
<ul>
    <li *ngFor="let item of persondata; let i = index">
        {{item.name}}
    </li>
</ul>
